<table>
	<th>
		Name 
	</th>
	<th>
		Email Address	
	</th>
	<tbody>
		<td>
			<%= @user.name %>
		</td>
		<td>
			<%= @user.email %>
		</td>
		<td>
			<%= @user.email %>
		</td>
	</tbody>
</table>

  <b></b>
  
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<p>
  <b>Professor:</b>
  <%= @user.professor %>
</p>

<p>
	<b>Courses Taken</b>
<% @courses.each do |course| %>
<%= course.course_name%>

<% end %>

</p>

<p>
	<b>Courses Available</b>
<%= link_to "Allcourses" , index_course_path %>

</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>