
<head>
	

</head> 
<h1>
	<%= "Courses Available" %>
</h1>	 
<table>
  <tr>
  	
    <th>Course name</th>
    <th>Availability</th>
    <th></th>
    <th></th>
  </tr>
  
<% @course.each do |course| %>
  <tr>
    <td><%= course.course_name %></td>
    <td><%= course.availability %></td>
    <td><%= link_to 'Details', course , html_options = { :class => "linkbutton" } %></td>
    <% if @admin %>
    <td><%= link_to 'Edit', edit_course_path(course) , html_options = { :class => "linkbutton" }%></td>
    <td><%= link_to "Delete", destroy_course_path(course) , html_options = { :class => "linkbutton" }%></td>
    <% end %>
  </tr>
<% end %>


</table>
	<% if @admin %>
   	<%= link_to "Add new courses", add_course_path , html_options = { :class => "Addbutton" } %>
    <% end %>

