<div id="wrapper">
<html>
	<head>
		
		<title> udent			
		</title>
		<%= stylesheet_link_tag 'application' %>
	</head>		
	<body>
			<br />
				<div id="container">					
					<%= link_to 'HOME', new_session_path ,  html_options = { :class => "button" }  %>	
					<%= link_to 'COURSES' , index_course_path , html_options = { :class => "button" } %>		
					<% if @admin %>
					<%= link_to 'User Admin', index_user_path ,  html_options = { :class => "button" }   %>
					<% end %>
					<% if !@loggedin %>
					<%= link_to 'Login', create_session_path ,  html_options = { :class => "button" } %> 
					<%= link_to 'Register', create_user_path ,  html_options = { :class => "button" } %>
					<% else %>
					<% @id = session[:user_id] %>
					<%= link_to 'Profile', show_user_path(@id),  html_options = { :class => "button" }  %>
					<%= link_to 'Logout', logout_session_path ,  html_options = { :class => "button" } %>	
					<% end %>
				</div>	
			<br />
			<br />
			<% if flash[:notice] %>
				<%= flash[:notice] %>
			<% end %>
			<% if flash[:error] %>
				<%= flash[:error] %>
			<% end %>
			<% if flash[:success] %>
				<%= flash[:success] %>
			<% end %>
			<br />
			<br />
			<br />
			<%= yield %>
		</body>
</html>

</div>


