<html>
	<head>
		
		<title> udent			
		</title>
		<%= stylesheet_link_tag 'application' %>
	</head>		
	<body>
			<% if flash[:notice] %>
				<%= flash[:notice] %>
			<% end %>
			<% if flash[:error] %>
				<%= flash[:error] %>
			<% end %>
			<% if flash[:success] %>
				<%= flash[:success] %>
			<% end %>
			<br />
			<nav id="#navbar">
				<ul>
					<%= link_to 'Home', new_session_path %>
				</ul>	
				<ul>
					<%= link_to 'List of courses', index_course_path %>
				</ul>
					<% if @admin %>
				<ul>		
					<%= link_to 'Admin Page', index_user_path %>
				</ul>
					<% end %>
					<% if !@loggedin %>
				<ul>
					<%= link_to 'Login', create_session_path %> | <%= link_to 'Register', create_user_path %>
				</ul>
					<% else %>
				<ul>
					<% @id = session[:user_id] %>
					<%= link_to 'Profile', show_user_path(@id) %> | <%= link_to 'Logout', logout_session_path %>	
				</ul>
					<% end %>					
			</nav>
			<%= yield %>
		</body>
</html>




